<?xml version="1.0" encoding="UTF-8"?>
<Server port="80" shutdown="SHUTDOWN">

	<!-- Global JNDI resources Documentation at /docs/jndi-resources-howto.html -->
	<GlobalNamingResources>
		<Resource auth="Container" description="User database that can be updated and saved"
			factory="org.apache.catalina.users.MemoryUserDatabaseFactory" name="UserDatabase"
			pathname="conf/tomcat-users.xml" type="org.apache.catalina.UserDatabase" />
	</GlobalNamingResources>


	<Service name="Catalina">

		<Executor maxThreads="2000" minSpareThreads="800"
			name="tomcatThreadPool" namePrefix="catalina-exec-" />

		<Connector URIEncoding="UTF-8" acceptCount="1000"
			connectionTimeout="60000" connectionUploadTimeout="36000000"
			disableUploadTimeout="false" enableLookups="false" executor="tomcatThreadPool"
			keepAliveTimeout="30000" maxHttpHeaderSize="8192"
			maxKeepAliveRequests="8000" port="80" redirectPort="8443" />

		<!-- Define an AJP 1.3 Connector on port 8009 -->
		<Connector port="8019" protocol="AJP/1.3" redirectPort="8443" />


		<Engine defaultHost="localhost" name="Catalina">

			<Host appBase="webapps" autoDeploy="true" name="localhost"
				unpackWARs="true">
			</Host>
		</Engine>
	</Service>
</Server>